.page-header {
    margin-top: 0;
}
.panel-body {
    padding-top: 0;
}

.FeatureImgHistory {
    width: 1000px;
    height: 327px;
}

.FeatureImgHistory {
    padding-bottom: 15px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.navbar-btn {
    color: #00aced;
}

.title {
    text-align: center;
}

.table {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 300px;
    padding-top: 50px;
}

table.img {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

table.img:hover {
  border: 1px solid #777;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

table.img {
  width: 100%;
  height: auto;
}

img {
  border: 5px solid black;
}

.sidebar {
  font-size: large;
  font-family: fantasy;
  color: #ffffff;
  float: left;
  width: 130px;
}



